/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com / html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 10; border: 0; font-size: 100%; font-family: 'Arvo', serif; vertical-align: baseline; } / HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { margin: 0; padding: 0; text-align: center; line-height: 3.5; background-color: #F2F2F2; } .centered { margin: 0 auto; text-align: left; width: 800px; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; } {

@include background-image(linear-gradient(left top, $start 0%, $end 100%)); font-family: 'Raleway', sans-serif; text-align: center; font-size: 4.5em; color: #fff; text-shadow: 2px 2px
rgba( #000, .2 ); font-weight: 600;

&:before { display: inline-block; margin-top: 8%; content: '#{$temperature}\00b0'; }

}
h1 {
  font-size: 300%;
  font-family: "Trebuchet MS";
}

#header {
  height: 121px;
  position: relative;
  background-color: black;
}


body {
/*  background-image: url("http://www.zastavki.com/pictures/originals/2012/Backgrounds_Nice_colors_035593_.jpg");
  background-repeat: no-repeat;*/
  background: url("http://tinyurl.com/oouofkd") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#startButton {
  background: #2059c9;
  background-image: -webkit-linear-gradient(top, #2059c9, #2059c9);
  background-image: -moz-linear-gradient(top, #2059c9, #2059c9);
  background-image: -ms-linear-gradient(top, #2059c9, #2059c9);
  background-image: -o-linear-gradient(top, #2059c9, #2059c9);
  background-image: linear-gradient(to bottom, #2059c9, #2059c9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #2059c9;
  -moz-box-shadow: 0px 1px 3px #2059c9;
  box-shadow: 0px 1px 3px #2059c9;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #2059c9 2px;
  text-decoration: none;
}

#startButton:hover {
  background: #2059c9;
  background-image: -webkit-linear-gradient(top, #2059c9, #f2cf22);
  background-image: -moz-linear-gradient(top, #2059c9, #f2cf22);
  background-image: -ms-linear-gradient(top, #2059c9, #f2cf22);
  background-image: -o-linear-gradient(top, #2059c9, #f2cf22);
  background-image: linear-gradient(to bottom, #2059c9, #f2cf22);
  text-decoration: none;
}

#callButton {
  background: #1aa305;
  background-image: -webkit-linear-gradient(top, #1aa305, #1aa305);
  background-image: -moz-linear-gradient(top, #1aa305, #1aa305);
  background-image: -ms-linear-gradient(top, #1aa305, #1aa305);
  background-image: -o-linear-gradient(top, #1aa305, #1aa305);
  background-image: linear-gradient(to bottom, #1aa305, #1aa305);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #1aa305;
  -moz-box-shadow: 0px 1px 3px #1aa305;
  box-shadow: 0px 1px 3px #1aa305;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1aa305 2px;
  text-decoration: none;
}

#callButton:hover {
  background: #1aa305;
  background-image: -webkit-linear-gradient(top, #1aa305, #f2cf22);
  background-image: -moz-linear-gradient(top, #1aa305, #f2cf22);
  background-image: -ms-linear-gradient(top, #1aa305, #f2cf22);
  background-image: -o-linear-gradient(top, #1aa305, #f2cf22);
  background-image: linear-gradient(to bottom, #1aa305, #f2cf22);
  text-decoration: none;
}

#hangupButton {
  background: #c20404;
  background-image: -webkit-linear-gradient(top, #c20404, #c20404);
  background-image: -moz-linear-gradient(top, #c20404, #c20404);
  background-image: -ms-linear-gradient(top, #c20404, #c20404);
  background-image: -o-linear-gradient(top, #c20404, #c20404);
  background-image: linear-gradient(to bottom, #c20404, #c20404);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #c20404;
  -moz-box-shadow: 0px 1px 3px #c20404;
  box-shadow: 0px 1px 3px #c20404;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #c20404 2px;
  text-decoration: none;
}

#hangupButton:hover {
  background: #c20404;
  background-image: -webkit-linear-gradient(top, #c20404, #f2cf22);
  background-image: -moz-linear-gradient(top, #c20404, #f2cf22);
  background-image: -ms-linear-gradient(top, #c20404, #f2cf22);
  background-image: -o-linear-gradient(top, #c20404, #f2cf22);
  background-image: linear-gradient(to bottom, #c20404, #f2cf22);
  text-decoration: none;
}

header {
  position: relative;
  height: 150px;
  width: 100%;
  background:#009688;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
  -webkit-box-shadow: 0px 2px 2px black;
  -moz-box-shadow: ;
  box-shadow: ;
}

#logo {
  position: absolute;
  top:17px; /*CHANGE Y of Logo*/
  left:10px; /*CHANGE X of Logo*/
  width: 120px;
  height: auto;
}

#rooms {
  float: right;
  padding-right: 15px;
}
